.footer {
  width: 100%;
  background-color: var(--white);
  border-top: 1px solid var(--border-color);
  padding: 2rem 2.5%;
  margin-top: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-links a {
  font-size: 0.9rem;
  color: var(--light-text);
  font-weight: 500;
}
.footer-links a:hover {
  color: var(--primary-blue);
}

.footer-copyright p {
  font-size: 0.9rem;
  color: var(--light-text);
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 1rem;
  }
}