.top-jobs-by-applicants h3 {
  font-size: 1.25rem;
}

.top-jobs-chart {
  width: 100%;
}
.top-jobs-chart img {
  width: 100%;
  border: 1px dashed var(--border-color);
  padding: 1rem;
  border-radius: 8px;
}