@import "tailwindcss";
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animate {
  background: linear-gradient(135deg, #2d3e50, #56688f, #1a1f2b);
  background-size: 300% 300%;
  animation: gradientFlow 8s ease infinite;
}

